<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAMTF1OI3FYs1YuanHI7AJr_Bvd3zzm1jc</string>
	<key>GCM_SENDER_ID</key>
	<string>381057036604</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reyhan-test.bni</string>
	<key>PROJECT_ID</key>
	<string>test-reyhan-f2bc2</string>
	<key>STORAGE_BUCKET</key>
	<string>test-reyhan-f2bc2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381057036604:ios:5e035189cd6e107ed6ee39</string>
</dict>
</plist>